@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Poppins:ital,wght@1,800&display=swap');

.body {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'hedvig', sans-serif;
  z-index: -20;
}

.imageTop {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
}

.imageBottom {
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 0px;
}

.titleBox {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  z-index: 10;
}

.switchBox {
  display: flex;
  align-items: center;
}

.title {
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #606060;
}

.monthly {
  position: relative;
  margin-left: 70px;
  padding: 20px;
}

.yearly {
  position: relative;
  margin-right: 70px;
  padding: 20px;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.mainBox div {
  border-radius: 10px;
}

.div1 {
  height: 500px;
  width: 300px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
}

.div2 {
  height: 550px;
  width: 350px;
  padding: 25px 10px 10px 10px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgb(194, 188, 245) 1%, rgb(98, 78, 252));
}

.div3 {
  height: 500px;
  width: 300px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
}

.mainBox h1 {
  font-size: 60px;
  margin-bottom: 0px;
}

.mainBox h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

button {
  font-size: 16px;
  font-weight: 600;
}

button:active {
  transform: scale(0.96);
}

.div1 button {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(98, 78, 252);
  border-width: 1px;
  color: white;
  border-color: rgb(98, 78, 252);
}

.div2 button {
  width: 250px;
  height: 40px;
  border-radius: 5px;  
  color: rgb(98, 78, 252);
  border-color: white;
  background-color: white;
}

.div3 button {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(98, 78, 252);
  border-width: 1px;
  color: white;
  border-color: rgb(98, 78, 252);
}

.div1 button:hover {
  background-color: white;
  color: rgb(98, 78, 252);
  cursor: pointer;
  font-size: 18px;
}

.div2 button:hover {
  background-color: rgb(98, 78, 252);
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.div3 button:hover {
  background-color: white;
  color: rgb(98, 78, 252);
  cursor: pointer;
  font-size: 18px;
}

.breakLine {
  margin: 25px 0 25px 0;
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c1c1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(98, 78, 252);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(98, 78, 252);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}